{% extends 'UserManagement/user_dash_base.html' %}
{% block content %}
    {% if examinee %}
        <center><h2> PARTICIPATED EXAMS </h2></center>
        <br>
        <div class="row row-cols-1 row-cols-md-2">
        {% for item in exam %}
            <div class="col-md-4">
                <div class="card" style="border-radius: 20px; margin: 5px">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.exam.exam_title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ item.exam.examiner.user.get_full_name }}</h6>
                        <p class="card-text">
                            Exam Code: {{ item.exam.exam_code }}<br>
                            Exam Marks:{{ item.exam.exam_marks }}<br>
                            Exam Date Time:{{ item.exam.exam_date_time }}<br>
                            Exam Duration:{{ item.exam.exam_duration }}<br>
                            Exam Question: <a href="{{ item.exam.exam_question.url }}"> Download</a>
                        </p>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
        </div>
        </div>
        {% else %}
        <center><h2> CREATED EXAMS </h2></center>
        <br>
        <div class="row row-cols-1 row-cols-md-2">
            {% for item in exam %}
                <div class="col mb-8">
                    <div class="card" style="border-radius: 10px; margin: 5px">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.exam_title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ item.examiner }}</h6>
                            <p class="card-text">
                                Exam Code: {{ item.exam_code }}<br>
                                Exam Marks:{{ item.exam_marks }}<br>
                                Exam Date Time:{{ item.exam_date_time }}<br>
                                Exam Duration:{{ item.exam_duration }}<br>
                            </p>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="exam_id" value="{{ item.id }}">
{#                            <a type="submit" class="card-link">View Details</a>#}
{#                            <a href="#" class="card-link">Analyse</a>#}
                                <button type="submit" class="btn btn-outline-primary">View Answer</button>
                            </form>
                        </div>
                </div>
                </div>
                <br>
            {% endfor %}
        </div>
        </div>
    {% endif %}
{% endblock content %}
