{% extends 'UserManagement/user_dash_base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    {% if examinee %}
        <div class="container align-items-center">

        <div class="container-fluid">
        <div class="row" style="margin-left: 50px">
            <h2> Participated Exams </h2>
            <div style="margin-left: 425px" class="col-md-4 float-lg-right">
                <form method="GET">
                    {% csrf_token %}
                    {{ form2 }}
                    <input style="border-radius: 5px" class="btn btn-primary btn-sm" type="submit" value="Search">
                    {#                <button type="submit" class="btn btn-primary">Search</button>#}
                </form>
            </div>
        </div>

        <br>
        <div class="col row-cols-1 row-cols-md-0">
        {% for item in exam %}
            <div class="col-md-12">
                <div class="card" style="border-radius: 10px; margin: 5px">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.exam.exam_title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ item.exam.examiner.user.get_full_name }}</h6>
                        <p class="card-text font-weight-normal">
                            Exam Code: {{ item.exam.exam_code }}<br>
                            Exam Marks: {{ item.exam.exam_marks }}<br>
                            Exam Date Time: {{ item.exam.exam_date_time }}<br>
                            Exam Duration: {{ item.exam.exam_duration }} Mins<br>
                            Exam Question: <a href="{{ item.exam.exam_question.url }}"> Download</a><br>
                        {% if item.submit %}
                            <br>
                            <a class='btn btn-outline-primary'href="/indivresult/{{item.exam.id}}">View Result</a>
                        {% endif %}
                        {% if not item.submit %}
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form| crispy }} <br>
                                <input type="hidden" name="exam_id" value="{{ item.exam.id }}">
                                <button type="submit" class="btn btn-outline-primary">Submit Answer</button>
                            </form>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
        </div>
        </div>
        </div>
        </div>
        {% else %}
        <div class="container align-items-center">
        <div class="container-fluid">
            <div class="row" style="margin-left: 50px">
                <h2> Created Exams </h2>
                <div style="margin-left: 425px" class="col-md-4 float-lg-right">
                    <form method="GET">
                        {% csrf_token %}
                        {{ form2 }}
                        <input style="border-radius: 5px" class="btn btn-primary btn-sm" type="submit" value="Search">
                        {#                <button type="submit" class="btn btn-primary">Search</button>#}
                    </form>
                </div>
            </div>
        <br>
        <div class="col row-cols-1 row-cols-md-0">
            {% for item in exam %}
                <div class="col mb-12">
                    <div class="card" style="border-radius: 10px; margin: 5px">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.exam_title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ item.examiner }}</h6>
                            <p class="card-text">
                                Exam Code: {{ item.exam_code }}<br>
                                Exam Marks:{{ item.exam_marks }}<br>
                                Exam Date Time:{{ item.exam_date_time }}<br>
                                Exam Duration:{{ item.exam_duration }}<br>
                            </p>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="exam_id" value="{{ item.id }}">
{#                            <a type="submit" class="card-link">View Details</a>#}
{#                            <a href="#" class="card-link">Analyse</a>#}
                                <button type="submit" class="btn btn-outline-primary">View Answer</button>
                                <a style="margin-left: 30px" class="btn btn-outline-primary" href="/examresult/{{ item.id }}">View Results</a>
                            </form>

                        </div>
                </div>
                </div>
                <br>
            {% endfor %}
        </div>
        </div>
        </div>
        </div>
    {% endif %}
{% endblock content %}
