{% extends 'UserManagement/user_dash_base.html' %}
{% block content %}
    <center><h2> Submitted Answers </h2></center>
    <br>
    <div class="row row-cols-1 row-cols-md-2">
    {% for answer in answers %}
        <div class="col mb-8">
        <div class="card" style="border-radius: 10px; margin: 5px">
        <div class="card-body">
            <h5 class="card-title">{{ answer.exam.exam_title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ answer.examinee.user.get_full_name }}</h6>
            <p class="card-text">
            Date : {{ answer.exam.exam_date_time }}<br>
            Full Marks : {{ answer.exam.exam_marks }}<br>
            Answer Script: <a class="text-primary" href="{{ answer.answer.url}} "> Download</a><br><br>
            {% if answer.marks %}
                <a style="color: #28a745;font-weight: bold">Graded</a>
            {% else %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="hidden" name="exm_id" value="{{ answer.exam.id }}">
                    <input type="hidden" name="examinee_id" value="{{ answer.examinee.id }}">
                    <input type="submit">
                </form>
                <a style="color:coral ;font-weight: bold">Not Graded</a>
            {% endif %}
            </p>
        </div>
        </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}