{% extends 'Base.html' %}

{% block content %}
    {% load static %}
    <table>
        <tr>
            <td>{{ profile.user.first_name }} {{ profile.user.last_name }}</td>
        </tr>
        <tr>
            <td>{{ profile.user.email }}</td>
        </tr>
        <tr>
            <td>{{ profile.user.username }}</td>
        </tr>
        <tr>
            <td>{{ profile.contact_number }}</td>
        </tr>
        <tr>
            <td><img src="{{ profile.pro_pic.url }}" height="200" width="200"></td>
        </tr>
    </table>
{% endblock content %}