{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section style="align-content: center">
        <center>
            <br>
            <h2>Register Here!</h2>
            <br>
        <div class="col-md-4" style="align-content: start">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type="button" class="btn btn-outline-primary">Sign Up</button>
            </form>
        </div>
        </center>
    </section>


{% endblock content %}