<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static "OnlineQuiz/assets/bootstrap/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  

     <!--
       
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
    -->
    <meta charset="UTF-8">
    <title>Online Quiz Platform</title>
</head>
<body>
 <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
    <div class="container"><a class="navbar-brand logo" href="#" style="font-size: 43px;font-family: Lato, sans-serif;">Online Quiz Platfrom</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/signup">Sign Up</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/contact">Contact</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/">About</a></li>
            </ul>

    </div>
    </div>
</nav>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
    {%  block content %}
    {%  endblock content %}
 <br>
 <br>
 <br>
 <br>
 <br>
<footer class="page-footer">
    <div class="container">
       <!-- <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div> -->
        <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
    </div>
</footer>

<script src="{% static "OnlineQuiz/assets/js/jquery.min.js" %}"></script>
<script src="{% static "OnlineQuiz/assets/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="{% static  "OnlineQuiz/assets/js/theme.js" %}"></script>
</body>

</html>